$brand-color: #66b3ff;

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.form-container {
  position: relative;
  width: 400px;
  margin: auto;

  .form {
    width: 100%;
    margin: auto;
    font-size: 16px;
  
    input, textarea {
      width: 100%;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      padding: 12px;
    }
  }

  .pending {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .8;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid #ccc;
      border-top: 4px solid $brand-color;
      border-radius: 50%;
      animation-name: rotate;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .error {
    color: #FF6347;
    font-weight: 700;
  }
}
